body{
    background: linear-gradient(#E7CB8C, #DFDFDF);
    font-family: 'Montserrat', sans-serif;
}

h1, h3{
    color: #784B6A;
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;;
}

h2, h3, h4, h5 {
    color: #161616;
}

.lista{
    background-color: #BD93B0;  
    text-align: center;
}

.foto{
    width: 250px;
    /colocar no centro
}

.centro{
    text-align: center;
    color: #161616;
}

.corlistahab{
    color: #161616;
    }